
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<title>Kysta - The best Discord bot</title>
<link rel="stylesheet" type="text/css" href="https://majoexe.xyz/css/style.css" media="all">
<link rel="apple-touch-icon" sizes="180x180" href="https://kysta.tech/logo.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://kysta.tech/logo.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://kysta.tech/logo.png">
<link rel="manifest" href="https://majoexe.xyz/favicon/site.webmanifest">
<link rel="shortcut icon" href="https://kysta.tech/logo.png">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-config" content="https://majoexe.xyz/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<script async defer src="https://www.googletagmanager.com/gtag/js?id=G-0BY3XP3R5N" type="776815c02442ce27266bc333-text/javascript"></script>
<script type="776815c02442ce27266bc333-text/javascript">
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'G-0BY3XP3R5N');
</script>
<meta name="description" content="Kysta - Discord bot for Fun, Memes, Images, Giveaway, Economy, Anime  Kysta serve over 117 commands!">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="canonical" href="https://kysta.tech/">
<meta name="copyright" content="(c) Copyright 2023 Igor Kowalczyk">
<meta name="theme-color" content="#5865F2">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="KYSTA - The best Discord bot">
<meta property="og:site_name" content="Invite Kysta today!">
<meta property="og:description" content="Kysta - Discord bot for Fun, Memes, Images, Giveaway, Economy, Anime  Kysta serve over 117 commands!">
<meta property="og:image" content="https://kysta.tech/logo.png" />
<meta name="twitter:image" content="https://kysta.tech/logo.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Kysta">
<meta name="twitter:creator" content="Kysta">
<meta name="twitter:url" content="Kysta.tech/">
<meta name="twitter:title" content="Kysta - The best Discord bot">
<meta name="twitter:description" content="Kysta - Discord bot for Fun, Memes, Images, Giveaway, Economy, Anime ! MKysta serve over 117 commands!">
</head>
<body>
  <% if (user) { %>
<script type="776815c02442ce27266bc333-text/javascript">var preload = document.createElement('div'); preload.className = "preloader"; preload.innerHTML = '</div><div class="spinner"></div>'; document.body.appendChild(preload); window.addEventListener('load', function() { preload.className +=  ' fade'; setTimeout(function(){ preload.style.display = 'none'; },500); })</script>
<noscript><div class="no-js">To view the page please enable javascript in your browser.</div></noscript>
<nav class="nav" role="navigation">
<div style="inset: 0px; z-index: -1; position: absolute; backdrop-filter: blur(5px); opacity: 1;"></div>
<a class="avatar-container-bot logo" href="https://kysta.tech" rel="noopener" aria-label="Open home page"><img class="user-avatar" src="https://kysta.tech/logo.png" style="margin-right: 10px;" /><span class="name">Kysta<span class="tag">9545</span></span></a>
<input class="menu-btn" type="checkbox" id="menu-btn" />
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class="menu">
<li><a href="https://discord.kysta.tech/" target="_blank" rel="noopener">Discord</a></li>
<li>
<a href="https://kysta.tech/dashboard" class="button_empty" style="margin: 13px;">Dashboard</a>
</ul>
</nav>
<div class="blur" id="body-blur"></div>
<link rel="stylesheet" type="text/css" href="https://majoexe.xyz/css/home-page.css" />
<section class="brand_new_hero_section">
<div class="brand_new_hero_grid">
<img class="img brand_new_avatar" src="https://kysta.tech/logo.png" alt="Avatar" />
<p class="brand_new_hero_small_title">Hi! I'm Kysta <span style="border-radius: 5px 10px; background-color: #5865F2; padding: 5px 10px 5px 10px; font-size: 9px; font-weight: 600; position: relative; top: -12px;">BETA</span></p>
<p class="brand_new_header_line gradient-blue">The only one bot</p>
<p class="brand_new_header_line">you will ever need!</p>
<p class="brand_new_description">I have almost everything - Fun, Memes, Images, Giveaway, Moderation, Anime ! I serve over 117 commands To get started with me just login with your Discord account</p>
<span class="center-buttons">
<a href="https://kysta.tech/dashboard" class="link-button green">Dashboard</a>
<a href="#features" class="link-button">Learn More</a>
</span>
</div>
</section>
<link rel="stylesheet" type="text/css" href="https://majoexe.xyz/css/cards.css" />
<div class="content-container">
<div class="stats">
<div class="stats_inner">
<div class="stats_column">
<h2 class="stats_column_title stats_hide_two">139296<span class="text-white-fade">+</span> Users</h2>
</div>
<div class="stats_column">
<h2 class="stats_column_title">117<span class="text-white-fade">+</span> Commands</h2>
</div>
<div class="stats_column">
<h2 class="stats_column_title">100<span class="text-white-fade">+</span> Servers</h2>
</div>
<div class="stats_column stats_hide_first">
<h2 class="stats_column_title">6018<span class="text-white-fade">+</span> Channels</h2>
</div>
</div>
</div>
<div id="features" class="product-row">
<div class="product-image">
<img src="https://majoexe.xyz/pics/features/1.png" alt="Many commands!" />
</div>
<div class="product-text">
<h2 class="product-title">Many commands!</h2>
<p>Kysta has more <span class="line_underline">than 117 commands</span>. From memes to moderation commands. Everything is clear and quick to use!</p>
</div>
</div>
<div class="product-row">
<div class="product-image">
<img src="https://majoexe.xyz/pics/features/1.png" alt="More reactions!" />
</div>
<div class="product-text">
<h2 class="product-title">More reactions!</h2>
<p>Kysta also allows you to send pictures for <span class="line_underline">any occasion</span>, you can fight a person and then hug them ^.^</p>
</div>
</div>
</div>
<div class="content-container">
<img class="sparkles" src="https://cdn.discordapp.com/attachments/947240167431884800/952604316374552626/fuckdiscord.svg" />
<h2 class="more-header">Ready to <span class="grandient-blue">boost</span> your server?</h2>
<p class="more-text">From auto-moderation to generating your own memes! <span class="line_underline">We'll take care of everything</span>.</br>Kysta is the best choice to grow your Discord server!</p>
<a href="https://kysta.tech/bot " class="link-button blue center-button">Invite Kysta now!</a>
<img class="sparkles" src="https://cdn.discordapp.com/attachments/947240167431884800/952604316374552626/fuckdiscord.svg" style="transform: scaleX(-1);">
</div>
</div>
<footer class="footer">
<span class="left">Created by: <a style="color: #fff" href="https://discord.com/users/781359764176896012" target="_blank" rel="noopener">Frenzzy#1230</a></span>
<a href="/status">Status</a>
<span> | </span>
<a href="/premium" target="_blank" rel="noopener">Premium</a>
<span> | </span>
<a href="/contact" target="_blank" rel="noopener">Contact Us</a>
<span> | </span>
<a href="/embeb" target="_blank" rel="noopener">Embeb</a>
</footer>
<script defer async src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" type="776815c02442ce27266bc333-text/javascript"></script>
<script defer async src="https://majoexe.xyz/js/index.js" type="776815c02442ce27266bc333-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="776815c02442ce27266bc333-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7abe8d4d5d607a0a","version":"2023.2.0","r":1,"token":"fc245665f85f48d2a103e4cb4c6707b4","si":100}' crossorigin="anonymous"></script>
    <% } else { %>
      
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<title>Kysta - The best Discord bot</title>
<link rel="stylesheet" type="text/css" href="https://majoexe.xyz/css/style.css" media="all">
<link rel="apple-touch-icon" sizes="180x180" href="https://kysta.tech/logo.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://kysta.tech/logo.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://kysta.tech/logo.png">
<link rel="manifest" href="https://majoexe.xyz/favicon/site.webmanifest">
<link rel="shortcut icon" href="https://kysta.tech/logo.png">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-config" content="https://majoexe.xyz/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<script async defer src="https://www.googletagmanager.com/gtag/js?id=G-0BY3XP3R5N" type="776815c02442ce27266bc333-text/javascript"></script>
<script type="776815c02442ce27266bc333-text/javascript">
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'G-0BY3XP3R5N');
</script>
<meta name="description" content="Kysta - Discord bot for Fun, Memes, Images, Giveaway, Economy, Anime  Kysta serve over 117 commands!">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="canonical" href="https://kysta.tech/">
<meta name="copyright" content="(c) Copyright 2023 Igor Kowalczyk">
<meta name="theme-color" content="#5865F2">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="KYSTA - The best Discord bot">
<meta property="og:site_name" content="Invite Kysta today!">
<meta property="og:description" content="Kysta - Discord bot for Fun, Memes, Images, Giveaway, Economy, Anime  Kysta serve over 117 commands!">
<meta property="og:image" content="https://kysta.tech/logo.png" />
<meta name="twitter:image" content="https://kysta.tech/logo.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Kysta">
<meta name="twitter:creator" content="Kysta">
<meta name="twitter:url" content="Kysta.tech/">
<meta name="twitter:title" content="Kysta - The best Discord bot">
<meta name="twitter:description" content="Kysta - Discord bot for Fun, Memes, Images, Giveaway, Economy, Anime ! MKysta serve over 117 commands!">
</head>
<body>
<script type="776815c02442ce27266bc333-text/javascript">var preload = document.createElement('div'); preload.className = "preloader"; preload.innerHTML = '</div><div class="spinner"></div>'; document.body.appendChild(preload); window.addEventListener('load', function() { preload.className +=  ' fade'; setTimeout(function(){ preload.style.display = 'none'; },500); })</script>
<noscript><div class="no-js">To view the page please enable javascript in your browser.</div></noscript>
<nav class="nav" role="navigation">
<div style="inset: 0px; z-index: -1; position: absolute; backdrop-filter: blur(5px); opacity: 1;"></div>
<a class="avatar-container-bot logo" href="https://kysta.tech" rel="noopener" aria-label="Open home page"><img class="user-avatar" src="https://kysta.tech/logo.png" style="margin-right: 10px;" /><span class="name">Kysta<span class="tag">9545</span></span></a>
<input class="menu-btn" type="checkbox" id="menu-btn" />
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class="menu">
<li><a href="https://discord.kysta.tech/" target="_blank" rel="noopener">Discord</a></li>
<li>
<a href="https://kysta.tech/dashboard" class="button_empty" style="margin: 13px;">Login</a>
</ul>
</nav>
<div class="blur" id="body-blur"></div>
<link rel="stylesheet" type="text/css" href="https://majoexe.xyz/css/home-page.css" />
<section class="brand_new_hero_section">
<div class="brand_new_hero_grid">
<img class="img brand_new_avatar" src="https://kysta.tech/logo.png" alt="Avatar" />
<p class="brand_new_hero_small_title">Hi! I'm Kysta <span style="border-radius: 5px 10px; background-color: #5865F2; padding: 5px 10px 5px 10px; font-size: 9px; font-weight: 600; position: relative; top: -12px;">BETA</span></p>
<p class="brand_new_header_line gradient-blue">The only one bot</p>
<p class="brand_new_header_line">you will ever need!</p>
<p class="brand_new_description">I have almost everything - Fun, Memes, Images, Giveaway, Moderation, Anime ! I serve over 117 commands To get started with me just login with your Discord account</p>
<p class="brand_new_header_line gradient-blue">Login to Get Started</p>
<span class="center-buttons">
<a href="https://kysta.tech/login" class="link-button green">Get Started</a>
<a href="#features" class="link-button">Learn More</a>
</span>
</div>
</section>
<link rel="stylesheet" type="text/css" href="https://majoexe.xyz/css/cards.css" />
<div class="content-container">
<div class="stats">
<div class="stats_inner">
<div class="stats_column">
<h2 class="stats_column_title stats_hide_two">139296<span class="text-white-fade">+</span> Users</h2>
</div>
<div class="stats_column">
<h2 class="stats_column_title">117<span class="text-white-fade">+</span> Commands</h2>
</div>
<div class="stats_column">
<h2 class="stats_column_title">100<span class="text-white-fade">+</span> Servers</h2>
</div>
<div class="stats_column stats_hide_first">
<h2 class="stats_column_title">6018<span class="text-white-fade">+</span> Channels</h2>
</div>
</div>
</div>
<div id="features" class="product-row">
<div class="product-image">
<img src="https://majoexe.xyz/pics/features/1.png" alt="Many commands!" />
</div>
<div class="product-text">
<h2 class="product-title">Many commands!</h2>
<p>Kysta has more <span class="line_underline">than 117 commands</span>. From memes to moderation commands. Everything is clear and quick to use!</p>
</div>
</div>
<div class="product-row">
<div class="product-image">
<img src="https://majoexe.xyz/pics/features/1.png" alt="More reactions!" />
</div>
<div class="product-text">
<h2 class="product-title">More reactions!</h2>
<p>Kysta also allows you to send pictures for <span class="line_underline">any occasion</span>, you can fight a person and then hug them ^.^</p>
</div>
</div>
</div>
<div class="content-container">
<img class="sparkles" src="https://cdn.discordapp.com/attachments/947240167431884800/952604316374552626/fuckdiscord.svg" />
<h2 class="more-header">Ready to <span class="grandient-blue">boost</span> your server?</h2>
<p class="more-text">From auto-moderation to generating your own memes! <span class="line_underline">We'll take care of everything</span>.</br>Kysta is the best choice to grow your Discord server!</p>
<a href="https://kysta.tech/bot " class="link-button blue center-button">Invite Kysta now!</a>
<img class="sparkles" src="https://cdn.discordapp.com/attachments/947240167431884800/952604316374552626/fuckdiscord.svg" style="transform: scaleX(-1);">
</div>
</div>
<footer class="footer">
<span class="left">Created by: <a style="color: #fff" href="https://discord.com/users/781359764176896012" target="_blank" rel="noopener">Frenzzy#1230</a></span>
<a href="/status">Status</a>
<span> | </span>
<a href="/premium" target="_blank" rel="noopener">Premium</a>
<span> | </span>
<a href="/contact" target="_blank" rel="noopener">Contact Us</a>
<span> | </span>
<a href="/embeb" target="_blank" rel="noopener">Embeb</a>
</footer>
<script defer async src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" type="776815c02442ce27266bc333-text/javascript"></script>
<script defer async src="https://majoexe.xyz/js/index.js" type="776815c02442ce27266bc333-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="776815c02442ce27266bc333-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7abe8d4d5d607a0a","version":"2023.2.0","r":1,"token":"fc245665f85f48d2a103e4cb4c6707b4","si":100}' crossorigin="anonymous"></script>
  <% } %>
</body>
</html>

